rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /media/{mediaId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.uid == 'tKMN9HAadZXu92p3xxvRbzdjpYj2';
    }
  }
}
